#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1c6c9;
  background: radial-gradient(circle, rgba(240, 201, 204, 0.727) 0%, #f1c6c0 51%);
}

#consul {
  padding: 0%;
}

.ubicacion {
  padding: 20px;
  border: solid 10px #fff4ec;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 15px;
  border: solid 10px #f8e3d4;
  margin: 30px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

#tcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  color: gray;
  text-align: justify;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: x-large;
  padding: 5%;
}

#centro {
  background-color: #fff4ec;
  padding: 0%;
}

footer {
  background: #f1c6c9;
  background: radial-gradient(circle, rgba(240, 201, 204, 0.727) 0%, #f1c6c0 51%);
  min-height: 100px;
  text-align: end;
}

footer p {
  color: black;
  text-align: left;
  font-size: smaller;
}

#iconos {
  font-size: 30px;
  padding: 0 8px;
  color: black;
}

.titulo {
  font-family: 'Dancing Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: xx-large;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: 'Domine', serif;
}

#somos {
  padding: 0%;
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
}

#cti {
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  color: #333232;
  text-align: justify;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: x-large;
  padding: 5%;
}

.card-img-top {
  width: 320px;
  height: 200px;
}

.fondo {
  background-color: #fff4ec;
}

#tituloservicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  display: block;
  float: center;
}

p input {
  font-size: 20px;
}

button {
  height: 70px;
  padding-left: 3px;
  padding-right: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 220px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #ab4493;
}

#imgsomos {
  padding: 0px;
  margin: 0px;
}

#imgcon {
  padding: 0%;
}

#centra {
  height: 450px;
  background-color: #fff4ec;
}

#num {
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: x-large;
  text-align: justify;
}

ul .li {
  text-align: right;
}

.lineas {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  text-align: justify;
}

.copy {
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: x-small;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 0%;
  background: #f1c6c9;
  background: radial-gradient(circle, rgba(240, 201, 204, 0.727) 0%, #f1c6c0 51%);
}
/*# sourceMappingURL=prueba.css.map */